@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: #BA3A39;
    transform-origin: 0%;
}

pre {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
    font-family: monospace;
    overflow-x: auto;
    color: black;
  }